# URL de l'API backend (FastAPI - Ibrahim)
# En local :
NEXT_PUBLIC_API_URL=http://localhost:8000

# En prod (à configurer sur Vercel par Junior) :
# NEXT_PUBLIC_API_URL=https://battleship-api.railway.app
