NEXT_PUBLIC_API_URL=http://localhost:8000
# NEXT_PUBLIC_API_URL=https://battleship-api.railway.app

# Mettre à "true" quand le build Unity WebGL est disponible dans public/unity/Build/
NEXT_PUBLIC_UNITY_BUILD=false
